/* Menambahkan posisi sticky untuk navbar */
.navbar-sticky {
  position: -webkit-sticky; /* Support untuk browser Webkit seperti Safari */
  position: sticky;
  top: 0; /* Navbar akan tetap di posisi 0px dari atas */
  z-index: 1020; /* Pastikan navbar berada di atas elemen lain */
  background-color: #333; /* Warna default background */
  transition: top 0.3s ease-in-out; /* Efek smooth saat navbar muncul/hilang */
}

/* Efek sembunyi saat scroll ke bawah */
.navbar-hidden {
  top: -100px; /* Sembunyikan navbar di luar layar */
}

/* Warna untuk dark mode dan light mode */
.navbar-light-mode {
  background-color: #555; /* Warna background untuk light mode */
}

.navbar-dark-mode {
  background-color: #333; /* Warna background untuk dark mode */
}

/* Tambahkan padding atas untuk konten agar tidak tertutup navbar */
/* body {
  padding-top: 70px; /* Sesuaikan dengan tinggi navbar */
/* } */

/* Warna hover untuk link di dalam navbar */
.navbar-nav .nav-link:hover {
  color: #e8ff00 !important; /* Warna hover kuning terang */
  transition: color 0.3s ease; /* Efek transisi smooth saat hover */
}

/* Warna hover untuk icon di dalam navbar */
.navbar-nav .nav-item .nav-link:hover .fa-icon {
  color: #e8ff00 !important; /* Warna hover kuning terang untuk icon */
  transition: color 0.3s ease; /* Efek transisi smooth */
}